			<footer id="main-footer">
						<div class="well" style="margin-bottom:0;padding:32px auto;">
				<div class="row">
					<div class="col-md-6 col-md-offset-3">
						<center>
							<p>
								<a href="https://twitter.com/infuturehacks" target="_blank" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Twitter"><span class="fa fa-twitter fa-fw"></span></a>
								&nbsp;&nbsp;
								<a href="http://github.com/infuture" target="_blank" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Github"><span class="fa fa-github fa-fw"></span></a>
							</p>
							<p>
								&copy; 2016 InFuture.
							</p>
						</center>
					</div>
				</div>
			</div>
			<script type="text/javascript">
				$(function () {
					$("[data-toggle=\"tooltip\"]").tooltip();
				});
			</script>
		</footer>
	</body>
</html>

<!-- <%- JSON.stringify(page) %> -->