<% include ../includes/header %>
	<div class="osu-layout__section osu-layout__section--full js-content community_tournaments-index">
		<div class="osu-layout__row osu-layout__row--page wiki-header">
			<div class="text">
				<h1>forgotten password?</h1>
			</div>
		</div>
		<div class="osu-layout__row osu-layout__row--page-compact osu-layout__row--sm1">
			<div class="osu-layout__sub-row">
				<div class="row">
					<div class="col-md-6 col-md-offset-3">
						<div class="row">
							<% if (page.csrf_token) { %>
								<div id="forgot_msg"></div>
								<form accept-charset="UTF-8" class="modal-body__form form" action="javascript:forgotPass();" id="forgotPassForm" onsubmit="forgotPass();return false;">
									<div class="form__input-group form-group form-group--compact">
										<input class="modal-af form-group__control form-control form-group__control--compact" name="email" id="email" type="email" placeholder="Email" required="" autocomplete="off" autofocus>
									</div>
									<button class="btn-osu btn-osu-default form__button" type="submit"><i class="fa fa-sign-in"></i></button>
								</form>
							<% } else { %>
								<div class="alert alert-danger">
									Sorry, password recovery is not possible at this moment.</p>
								</div>
							<% } %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script>
		function forgotPass(){
			var email = $("#email").val();
			// so when you're posting to an api it's not really js but technically you can define any path so w/e
			$.post("/api/user/forgot", {
				// here we're gonna put parameters to pass to the server
				_csrf: "<%- page.csrf_token %>",
				email: email
				// on the server side that's gonna return a variable called 'email'
			}, function(result) {
					//  ^ that's the result that's returned from the server, like "we sent you an email or not"
				// actual emailing and checking and stuff should be done server side
				
				// ok so for this part i'm actually gonna copypasta the thing for login, just so it looks kinda the same
				display_message("#forgot_msg", (result.success == 1 ? "success" : "danger"), result.message, function() {
					if (result.success == 1) { location.href = "/login"; }
					else { $(disable).removeAttr("disabled"); }
				});
				// display message is a function i wrote that basically just displays the little message box that pops up and then disappears
			});
		}
	</script>

<% include ../includes/footer %>