<% include ../includes/header %>

<% if (page.logged_in) { %>
	<script type="text/javascript">
		location.href = "/";
	</script>
<% } else { %>
	<div class="container">
		<div class="page-header">
			<h1>Login</h1>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2 class="panel-title">Login</h2>
						</div>
						<div class="panel-body">
							<% if (page.csrf_token) { %>
								<div id="login_msg"></div>
								<form accept-charset="UTF-8" action="javascript:login_form();" id="login_form" onsubmit="login_form();return false;">
									<div class="row">
										<div class="col-sm-12 form-group">
											<label class="col-sm-12" for="email"><small>Email</small></label>
											<div class="col-sm-12">
												<input class="form-control" type="email" required name="email" id="email" placeholder="Email" autocomplete="off" />
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12 form-group">
											<label class="col-sm-12" for="password"><small>Password</small></label>
											<div class="col-sm-12">
												<input class="form-control" type="password" required name="password" id="password" placeholder="Password" autocomplete="off" />
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12 form-group">
											<div class="col-sm-12">
												<input type="submit" class="btn btn-primary" value="Login!" />
											</div>
										</div>
									</div>
								</form>
							<% } else { %>
								<div class="alert alert-danger">
									<p>Sorry, registration is not possible at this moment.</p>
								</div>
							<% } %>
							<p>Don't have an account? <a href="/register">Register now.</a></p>
							<p>Forgot your password? <a href="/forgot_password">Recover your account.</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script type="text/javascript">
		var login_form = function() {
			var disable = "input";
			$(disable).attr("disabled", "disabled");
			$.post("/api/user/login", {
				_csrf: "<%- page.csrf_token %>",
				email: $("#email").val(),
				password: $("#password").val()
			}, function(result) {
				display_message("#login_msg", (result.success == 1 ? "success" : "danger"), result.message, function() {
					if (result.success == 1) { location.href = "/account"; }
					else { $(disable).removeAttr("disabled"); }
				});
			});
		};
	</script>
<% } %>

<% include ../includes/footer %>