<% include ../includes/header %>

<% if (page.logged_in) { %>
	<script type="text/javascript">
		location.href = "/";
	</script>
<% } else { %>
	<div class="container">
		<div class="page-header">
			<h1>Register</h1>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2 class="panel-title">Register</h2>
						</div>
						<div class="panel-body">
							<% if (page.csrf_token) { %>
								<div id="register_msg"></div>
								<form accept-charset="UTF-8" action="javascript:register_form();" id="register_form" onsubmit="register_form();return false;">
									<div class="row">
										<div class="col-sm-12 form-group">
											<label class="col-sm-12" for="first_name"><small>Name</small></label>
											<div class="col-sm-6">
												<input class="form-control" type="text" required name="first_name" id="first_name" placeholder="First Name" autocomplete="off" autofocus />
											</div>
											<div class="col-sm-6">
												<input class="form-control" type="text" required name="last_name" id="last_name" placeholder="Last Name" autocomplete="off" />
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12 form-group">
											<label class="col-sm-12" for="email"><small>Email</small></label>
											<div class="col-sm-12">
												<input class="form-control" type="email" required name="email" id="email" placeholder="Email" autocomplete="off" />
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12 form-group">
											<label class="col-sm-12" for="password"><small>Password</small></label>
											<div class="col-sm-12">
												<input class="form-control" type="password" required name="password" id="password" placeholder="Password" autocomplete="off" />
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12 form-group">
											<label class="col-sm-12" for="gender"><small>Gender</small></label>
											<div class="col-sm-12">
												<select name="gender" id="gender" class="selectpicker" data-width="100%">
													<option value="female">Female</option>
													<option value="male">Male</option>
												</select>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12 form-group">
											<div class="col-sm-12">
												<input type="submit" class="btn btn-primary" value="Register!" />
											</div>
										</div>
									</div>
								</form>
							<% } else { %>
								<div class="alert alert-danger">
									<p>Sorry, registration is not possible at this moment.</p>
								</div>
							<% } %>
							<p>Already have an account? <a href="/login">Sign in.</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script type="text/javascript">
		var register_form = function() {
			var disable = "input, button[type=submit]";
			$(disable).attr("disabled", "disabled");
			$.post("/api/user/register", {
				_csrf: "<%- page.csrf_token %>",
				first_name: $("#first_name").val(),
				last_name: $("#last_name").val(),
				email: $("#email").val(),
				password: $("#password").val(),
				gender: $("#gender").val(),
				// recaptcha: $("#g-recaptcha-response").val()
			}, function(result) {
				// console.log(result);
				display_message("#register_msg", (result.success == 1 ? "success" : "danger"), result.message, function() {
					if (result.success == 1) { location.href = "/dashboard"; }
					else { $(disable).removeAttr("disabled"); /* grecaptcha.reset(); */ }
				});
			});
		};
	</script>
<% } %>

<% include ../includes/footer %>