<% include ../includes/header %>

<div class="container">
	<div class="page-header">
		<h1>Email Verified</h1>
	</div>
	<p>Thanks for verifying your email address! You'll be redirected to the dashboard.</p>
</div>

<script type="text/javascript">
	setTimeout(function() {
		location.href = "/dashboard";
	}, 5000);
</script>

<% include ../includes/footer %>