.banner	{
	@include size(100% 50%);
	// @include background(#001738);
	// @include background(url("../images/stars.png") center top no-repeat, linear-gradient(#001738 15%, #002e72, #003380 100%) center bottom no-repeat);
	
	background: url(../images/city.svg) center bottom no-repeat, linear-gradient(#003380, #0052cc, #66a4ff 81%, #ffb402);
	background-size: 275% auto, 100% 100%;

	color: $color-white;	

	.vertical-center {
		top: 40%;
		text-align: center;
	}
	
	.logo {
		width: em(150px);
	}

	h1.title {
		@include margin(em(5px) 0 0);
		font-family: $title-font;
		@include font-sw(em(64px), 400);
		text-transform: uppercase;
		line-height: 1.15;

		span {
			color: $color-dodgerblue;
			font-weight: 300;
		}
	}
}

.application {
	@include background(#2C5AA0);

	.container {
		width: em(540px);	
		@include outer-container(90%);
		@include margin(0 auto);
		@include padding(em(75px) 0);
	
		h2.header {
			@include margin(em(5px) 0 0);
			color: $color-white;
			font-family: $title-font;
			@include font-sw(em(36px), 400);
			line-height: 1.15;
		}

		fieldset {
		    position: relative;
		    @include margin(0);
		    @include padding(0);
		    border: 0;
		}

		label {
		    position: absolute;
		    top: em(30px);
		    left: em(24px);
		    color: $color-silverchalice;
		    font-size: em(22px);
		    transform: translate3d(0, 0, 0);
		    transition: all 0.2s ease-in-out;
		}

		input {
			display: block;
		    @include size(100% em(50px));
			@include margin(em(15px) auto);
			@include padding(em(15px) em(18px));

		    font-size: em(22px);
		    font-weight: 400;

		    border-bottom: 2px solid $color-boulder;
		    border-radius: 0;
		    
		    line-height: em(50px);
		    background: none;
		    color: $color-gallery;

		    outline: 0;
		    appearance: none;
		    transition: all 0.2s ease-in-out;

		    &:valid,
		    &:focus {
		    	border-bottom: 2px solid $color-silver;
		    }
		    
		    &:valid + label,
		    &:focus + label {
		        color: $color-gallery;
		        font-weight: 500;
		        font-size: em(16px);
		        transform: translate3d(0, em(-24px), 0);
		    }
		}

		select {
			@extend input;

			option {
				color: $color-emperor;
				@include padding(em(15px) 0);
				font-size: em(12px);
				border-bottom: 1px solid $color-boulder;

				&:last-child {
					border-bottom: 0;
				}
			}
		}

		.divider { @include size(100% em(100px)); }

		textarea {
			@extend input;
			max-width: 100%;
			overflow: auto;
			resize: none;
			line-height: 1.33;

			&+label {
				top: em(50px);
			}

			&:valid + label,
		    &:focus + label {
		        transform: translate3d(0, em(-44px), 0);
		    }
		}

		button {
			@include size(100% em(47px));
			@include margin(em(30px) auto 0);
			@include padding(0 em(25px));
			font-size: em(22px);
		}
	}
}
