<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head %>
		<title>InFuture</title>
	</head>
	<body>
		<header>
			<% include ../partials/navbar %>
		</header>

		<div class="container">
			<div class="jumbotron">
				<h1>InFuture</h1>
			</div>
		</div>
	</body>
</html>